#mapSection
{
margin:auto;
display:block;
}
#mapHeader
{
display:block;
}
#mapForm
{
    position:relative;
    margin-top:100px;
   margin-left:100px;
   display:inline-block;
}
#map
{
height: 500px;
width:500px;
display:inline-block;
position:relative;
margin-top:40px;
margin-left:100px;
float:left;
}